doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    title inline-tree-view demo
    script(src="../../../webcomponentsjs/webcomponents-lite.js")
    link(rel="import", href="../../../polymer/polymer.html")
    link(rel="import", href="../TreeView.html")
    style.
      demo-element {
        display: inline-block;
        background-color: rgba(100, 40, 40, 0.5);
        padding: 10px;
        margin: 10px;
      }

      .b {
        display: inline-block;
        background-color: green;
        padding: 10px;
        margin: 10px;
      }

      .root {
        background-color: blue;
        padding: 10px;
        margin: 10px;
      }
  body
    tree-view#tree-view

    dom-module#demo-element
      style.
        :host {
          box-sizing: border-box;
          display: inline-block;
        }
      template
        div 'Demo Element'
        div.children

    script.
      DemoElement = Polymer({
        is: 'demo-element'
      });
    script(src="TreeViewDemo.js")